body {
  font-family: Lato, "Microsoft YaHei", sans-serif;
  font-weight: 400;
  font-size: 1.1em;
}

h1 {
  font-size: 3.5em;
  margin: 0 0 0.5em 0;
  margin-top: 0;
}

h2 {
  font-size: 2em;
  margin: 0 0 0.2em 0;
  margin-top: 0;
}

h3 {
  font-size: 1.5em;
  margin: 0 0 0.1em 0;
  margin-top: 0;
}

h4 {
  font-size: 1.25em;
  margin: 0 0 0.1em 0;
  margin-top: 0;
}

h5 {
  font-size: 1.2em;
  margin: 0 0 0.1em 0;
  margin-top: 0;
}

h6 {
  font-size: 1.1em;
  margin: 0 0 0.1em 0;
  margin-top: 0;
}

p {
  font-size: 1.1em;
  margin: 0.5em 0;
}

ul {
  font-size: 1.1em;
}

a {
  color: #fff;
  text-decoration: none;
  transition: 0.5s;
}
a:hover, a.z-selected {
  color: #99FF33;
}
a.highlight {
  color: #99FF33;
}
a.highlight:hover {
  color: #008A75;
}

#lang-panel {
  position: absolute;
  right: 20px;
  top: 20px;
  border-radius: 5px;
  z-index: 100;
  font-size: 0.8em;
}
#lang-panel .lang {
  display: inline-block;
  border-radius: 5px;
  padding: 2px 8px;
}
#lang-panel .lang.selected {
  background-color: #8ba987;
  color: #008A75;
  cursor: default;
}

p {
  color: #8ba987;
}

h1 {
  text-align: center;
}
h1 + h2, h1 + p {
  margin-top: -0.5em;
}

h2 + h1 {
  margin-top: 0.8em;
}

h1, h2, h3, h4, h5, h6 {
  color: #f3d397;
}
h1 em, h2 em, h3 em, h4 em, h5 em, h6 em {
  color: #008A75;
  font-style: normal;
}

ul {
  color: #8ba987;
}

#title {
  margin: 0.25em 0 0 0;
}

#subtitle {
  margin: 1em 0 0.25em 0;
  color: #8ba987;
}

.tag-panel {
  margin: 15px auto;
}

.tag {
  background-color: #096254;
  color: #8ba987;
  border-radius: 3px;
  display: inline-block;
  padding: 2px 8px;
  margin-right: 3px;
  margin-bottom: 3px;
  opacity: 0.5;
}
.tag.expert {
  opacity: 1;
}
.tag.familiar {
  opacity: 0.75;
}

.content {
  max-width: 800px;
  margin: 0 auto;
}

.col-4 {
  min-width: 150px;
}
.col-4 a {
  display: inline-block;
  height: 100px;
  line-height: 100px;
}

* {
  box-sizing: border-box;
}

.section {
  background-color: #fdd59f;
  color: #EEF3F0;
  padding: 50px;
  transition: 0.5s;
}
.section.initing {
  display: none;
}
.section.leaving {
  background-color: #99FF33;
}
.section.bg1 {
  background-color: #506466;
}
.section.bg2 {
  background-color: #6c7766;
}
.section.bg3 {
  background-color: #c16766;
}
.section.bg4 {
  background-color: #f47469;
}
.section.bg5 {
  background-color: #27af7e;
}
.section.bg6 {
  background-color: #096254;
}

.center {
  text-align: center;
}

.cb {
  zoom: 1;
}
.cb:after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
}

.mb10 {
  margin-top: -15px;
}

.f-pr {
  position: relative;
}

.f-fr {
  float: right;
}

#avatar {
  width: 200px;
  height: 200px;
  border: 10px solid #80999c;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}

.circle-img {
  display: inline-block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #008A75;
  padding: 18px;
}
.circle-img:hover {
  opacity: 0.8;
}

/*@media screen and (max-width: 760px) {
    .circle-img {
        display: none;
    }
}
*/
.row + .row {
  margin-top: 5px;
}

.col-1 {
  width: 8.33333%;
  float: left;
}

.col-2 {
  width: 16.66667%;
  float: left;
}

.col-3 {
  width: 25%;
  float: left;
}

.col-4 {
  width: 33.33333%;
  float: left;
}

.col-5 {
  width: 41.66667%;
  float: left;
}

.col-6 {
  width: 50%;
  float: left;
}

.col-7 {
  width: 58.33333%;
  float: left;
}

.col-8 {
  width: 66.66667%;
  float: left;
}

.col-9 {
  width: 75%;
  float: left;
}

.col-10 {
  width: 83.33333%;
  float: left;
}

.col-11 {
  width: 91.66667%;
  float: left;
}

.col-12 {
  width: 100%;
  float: left;
}

@media screen and (max-width: 760px) {
  .col-1 {
    width: 100%;
  }

  .col-2 {
    width: 100%;
  }

  .col-3 {
    width: 100%;
  }

  .col-4 {
    width: 100%;
  }

  .col-5 {
    width: 100%;
  }

  .col-6 {
    width: 100%;
  }

  .col-7 {
    width: 100%;
  }

  .col-8 {
    width: 100%;
  }

  .col-9 {
    width: 100%;
  }

  .col-10 {
    width: 100%;
  }

  .col-11 {
    width: 100%;
  }

  .col-12 {
    width: 100%;
  }

  #pp-nav {
    display: none;
  }
}
#contact-panel {
  text-align: center;
  margin-top: 1em;
}

.social-share-element {
  width: 40px;
  height: 40px;
  background-color: #fff;
  background-image: url("../../blog/img/social.png");
  transition: 0.5s;
  display: inline-block;
  margin-right: 2px;
  border-bottom: none;
  border-radius: 20px;
}
.social-share-element:hover {
  background-color: #096254;
  border-radius: 5px;
}
.social-share-element.social-twitter {
  background-position: 0 0;
}
.social-share-element.social-facebook {
  background-position: -40px 0;
}
.social-share-element.social-google {
  background-position: -80px 0;
}
.social-share-element.social-linkedin {
  background-position: -120px 0;
}
.social-share-element.social-weibo {
  background-position: -160px 0;
}
.social-share-element.social-digg {
  background-position: 0 40px;
}
.social-share-element.social-douban {
  background-position: -40px 40px;
}
.social-share-element.social-reddit {
  background-position: -80px 40px;
}
.social-share-element.social-stumble {
  background-position: -120px 40px;
}
.social-share-element.social-github {
  background-position: -160px 40px;
}

.social-share-text {
  font-weight: bold;
  text-indent: 0;
}

#footer-follow {
  margin: 0 auto;
  width: 220px;
}

.footer-follow-element {
  width: 32px;
  height: 32px;
  background-image: url("../../blog/img/social.png");
  background-size: 160px 60px;
  transition: 1s;
  display: inline-block;
  border-bottom: none;
}
.footer-follow-element:hover {
  background-color: #DB6968;
  border-radius: 50%;
}

#skill_list {
  position: relative;
  margin: 20px auto;
  width: 100%;
  font-size: 16px;
  height: 400px;
}
#skill_list .skill_list_content {
  float: left;
  margin: 0 8%;
  visibility: hidden;
}
#skill_list .skill_icon {
  cursor: pointer;
  background-size: 100%;
  width: 90px;
  height: 100px;
  text-align: center;
  margin: 30px auto;
  transition: transform .25s;
}
#skill_list .skill_icon:hover, #skill_list .skill_icon.scale {
  transform: scale(1.2);
}
#skill_list .skill_name {
  text-align: center;
  width: 100%;
  position: relative;
}
#skill_list #skill_icon1 {
  background: url(../img/tool.png) no-repeat;
}
#skill_list #skill_icon2 {
  background: url(../img/html.png) no-repeat;
}
#skill_list #skill_icon3 {
  background: url(../img/css.png) no-repeat;
}
#skill_list #skill_icon4 {
  background: url(../img/js.png) no-repeat;
}
#skill_list ul {
  list-style: disc;
  list-style-position: inside;
}
#skill_list .skill_int {
  position: absolute;
  width: 500px;
  left: 50%;
  margin-left: -250px;
  display: none;
  font-size: 14px;
  line-height: 20px;
  border: 1px solid transparent;
  border-radius: 10px;
  box-shadow: 0 0 2px 2px #f9aa8b;
  padding: 15px;
}
#skill_list .skill_int ul {
  text-align: left;
}
#skill_list .skill_int li {
  font-size: 12px;
  margin-bottom: 5px;
  font: 20px "microsoft yahei";
  color: #eee9ed;
}
#skill_list .skill_scale {
  -webkit-animation: skill_scale 1s;
  -moz-animation: lskill_scale 1s;
  -o-animation: skill_scale 1s;
  animation: skill_scale 1s;
  visibility: visible;
}
@-webkit-keyframes skill_scale {
  0% {
    opacity: 0.1;
    -webkit-transform: scale(0.3);
    transform: scale(0.3);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@-moz-keyframes skill_scale {
  0% {
    opacity: 0.1;
    transform: scale(0.3);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@-o-keyframes skill_scale {
  0% {
    opacity: 0.1;
    transform: scale(0.3);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes skill_scale {
  0% {
    opacity: 0.1;
    transform: scale(0.3);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
.work p, .edu p {
  color: #fff;
}

.panel {
  position: absolute;
  right: 10%;
  top: 50%;
  display: none;
  width: 500px;
  padding: 10px;
  transform: translate(0, -50%);
  background-color: #8ba987;
}
.panel dt {
  font-size: 25px;
}
.panel dt a {
  font-size: 20px;
  text-decoration: underline;
}
.panel dl {
  list-style-type: disc;
}
.panel dl p {
  font: 15px "microsoft yahei";
  color: #f3d397;
  text-indent: 2em;
}
.panel dl dd {
  margin-left: 10px;
}

.mobile * {
  text-shadow: none !important;
}
.mobile #avatar {
  width: 128px;
  height: 128px;
  border: 0;
}
.mobile .circle-img {
  margin: 20px 10px;
}
.mobile h2 {
  text-align: center;
}
.mobile h1 {
  font-size: 2.625em;
  margin: 0 0 0.5em 0;
  margin-top: 0;
}
.mobile h2 {
  font-size: 1.5em;
  margin: 0 0 0.2em 0;
  margin-top: 0;
}
.mobile h3 {
  font-size: 1.125em;
  margin: 0 0 0.1em 0;
  margin-top: 0;
}
.mobile h4 {
  font-size: 0.9375em;
  margin: 0 0 0.1em 0;
  margin-top: 0;
}
.mobile h5 {
  font-size: 0.9em;
  margin: 0 0 0.1em 0;
  margin-top: 0;
}
.mobile h6 {
  font-size: 0.825em;
  margin: 0 0 0.1em 0;
  margin-top: 0;
}
.mobile p {
  font-size: 0.88em;
}
.mobile ul {
  font-size: 0.88em;
}
.mobile .section {
  padding: 50px 10px;
}
.mobile #profession.section.center {
  text-align: left;
}
.mobile #project.section {
  text-align: center;
}
