.panel{
    position: absolute;
    right: 10%; 
    top: 50%;
    // display:none;
    display: none;
    width: 500px;
    padding: 10px;
    transform: translate(0, -50%);
    background-color: #8ba987;
    // opacity: 0.3;
    dt{
        font-size: 25px;
        a{
            // color: red;
            font-size: 20px;
            text-decoration: underline;
        }
    }
    dl{
        list-style-type: disc;
        p{
            font: 15px "microsoft yahei";
            color: $clr-page-text;
            text-indent: 2em;
        }
        dd{margin-left: 10px;}
    }
}
